---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set pages = [
  {slug: "", lastmod: "2026-08-31", priority: "1.0"},
  {slug: "cuerposonoro/", lastmod: "2026-08-31", priority: "0.8"},
  {slug: "universo-punzadas/", lastmod: "2026-08-31", priority: "0.8"},
  {slug: "aviso-legal.html", enSlug: "legal-notice.html", lastmod: "2026-08-27", priority: "0.3"},
  {slug: "privacidad.html", enSlug: "privacy.html", lastmod: "2026-08-27", priority: "0.3"}
] %}
{% for p in pages %}
  <url>
    <loc>https://maramotto.com/{{ p.slug }}</loc>
    <lastmod>{{ p.lastmod }}</lastmod>
    <priority>{{ p.priority }}</priority>
  </url>
  <url>
    <loc>https://maramotto.com/en/{{ p.enSlug or p.slug }}</loc>
    <lastmod>{{ p.lastmod }}</lastmod>
    <priority>{{ p.priority }}</priority>
  </url>
{% endfor %}
  <url>
    <loc>https://maramotto.com/cuerposonoro/demo/</loc>
    <lastmod>2026-08-31</lastmod>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>https://maramotto.com/en/cuerposonoro/demo/</loc>
    <lastmod>2026-08-31</lastmod>
    <priority>0.5</priority>
  </url>
</urlset>
