---
layout: layouts/base.njk
ogType: website
---
{% block content %}
<section class="blog-list">
  <h1>{{ title }}</h1>
  <div class="blog-list__grid">
    {% for post in collections.posts | postsByLang(lang) %}
      {% include "partials/post-card.njk" %}
    {% endfor %}
  </div>
</section>
{% endblock %}
