<footer class="footer">
  &copy; 2026 <span>maramotto</span>.com &mdash;
  <span>{{ "footer.text" | t(lang) }}</span>
  {% if not isHome %}<a href="{{ '/en/' if lang == 'en' else '/' }}">{{ "footer.home" | t(lang) }}</a>{% endif %}
</footer>
