---
title: "Blog"
description: "Articles and notes by maramotto on interactive art, creative coding and creative technology."
lang: en
permalink: /blog/en/
eleventyExcludeFromCollections: true
layout: layouts/list.njk
---
