---
permalink: /blog/sitemap.xml
eleventyExcludeFromCollections: true
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://maramotto.com/blog/</loc>
  </url>
  <url>
    <loc>https://maramotto.com/blog/en/</loc>
  </url>
  {% for post in collections.posts %}
  <url>
    <loc>https://maramotto.com{{ post.url }}</loc>
    <lastmod>{{ post.date | dateToRfc3339 }}</lastmod>
  </url>
  {% endfor %}
</urlset>
